#searchBar {
    width: 50%;
    padding-right: 40px; /* Make space for the icon */
    box-sizing: border-box;
}

#searchBtn {
    position: relative;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    right: 2%
}

#topbar{
    padding: 10px;
}

.card-body{
    min-height: 250px;
}